<div class="container">
    <div class="row row-cols-2">
        <div class="col">
            <span  class="miriam fs-2">Tipo de Entrega</span>
            <div class="form-check w-75 rounded" style="background-color: #8EA7C4">
                <input class="form-check-input ms-0" type="radio" name="tipoEntrega" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">Desejo receber a encomenda numa morada.</label>
            </div>
            <div class="form-check w-75 rounded" style="background-color: #8EA7C4">
                <input class="form-check-input ms-0" type="radio" name="tipoEntrega" id="flexRadioDefault2" checked>
                <label class="form-check-label" for="flexRadioDefault2">Desejo levantar a encomenda.</label>
            </div>
        </div>
        <div class="col">
            <div  class="w-75 rounded" style="background-color: #8EA7C4">
                <span  class="miriam fs-2 ms-2">Resumo de Pedido</span>
                <div class="p-2 ms-5">
                    <p>- 1 produto </p>
                    <p class="d-flex justify-content-end me-5">- Total      23.47 </p>
                </div>
            </div>
        </div>
        <div class="col">
            <span  class="miriam fs-2">Onde vamos entregar a encomenda?</span>
            <div  class="w-75 rounded" style="background-color: #8EA7C4">
                <div class="p-2">
                    <p>- Manuel Joaquim Silva Antunes </p>
                    <p>- Praça da alegria, nº 34 </p>
                    <p>- 4976-234 </p>
                    <p>- T: 9649094825 </p>
                    <p><i class="bi bi-plus-circle-fill"></i> Editar Dados de Entrega </p>
                </div>
            </div>
        </div>
        <div class="col mt-5">
            <div  class="w-75 rounded" style="background-color: #8EA7C4">
                <span  class="miriam fs-2 ms-2">Detalhes do Pedido</span>
                <div class="d-flex align-items-center">
                    <div class="flex-shrink-0 p-3">
                        <img src="~/Images/casaco.png" width="100" alt="Image did not render.">
                    </div>
                    <div class="flex-grow">
                        <p> Casaco camurça masculino</p>
                        <p> Qtd: 1 </p>
                        <p> 23.47 </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <span  class="miriam fs-2">Método de Pagamento</span>
            <div class="form-check w-75 rounded" style="background-color: #8EA7C4">
                <input class="form-check-input ms-0" type="radio" name="metPagamento" id="flexRadioDefault3">
                <label class="form-check-label d-flex justify-content-center" for="flexRadioDefault1">Multibanco.</label>
            </div>
            <div class="form-check w-75 rounded" style="background-color: #8EA7C4">
                <input class="form-check-input ms-0" type="radio" name="metPagamento" id="flexRadioDefault4" checked>
                <label class="form-check-label d-flex justify-content-center" for="flexRadioDefault2">MB WAY.</label>
            </div>
            <div class="form-check w-75 rounded" style="background-color: #8EA7C4">
                <input class="form-check-input ms-0" type="radio" name="metPagamento" id="flexRadioDefault5" checked>
                <label class="form-check-label d-flex justify-content-center" for="flexRadioDefault2">Cartão de Crédito ou Débito.</label>
            </div>
        </div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="p-4 rounded-pill d-flex justify-content-end p-5"><button type="submit" value="Save" class="btn btn-success">Finalizar Compra</div>
    </div>
</div>