<div class="container">
    <p class="fs-1">Contactos</p> 
    <p class="fs-6">+351 927 754 222 - António Santos Gil Afonso</p>
    <p class="fs-6">+351 960 161 365 - Dinis Gonçalves Estrada</p>
    <p class="fs-6">+351 965 375 283 - Emanuel Lopes Monteiro da Silva</p>
    <p class="fs-6">+351 926 814 234 - Gonçalo Fernandes Lemos</p>
    <p class="fs-6">+351 939 255 499 - Simão Cunha Matos</p>
    <p class="fs-1"> </p>
    <p class="fs-6">Apoio via email: peopleMarketSuport@gmail.com</p>
</div>