@model PeopleMarket.Models.Barraca

@* Barracas *@

<div class="container">
    <span  class="miriam fs-2 mb-5">Feira de Braga</span>
    <div class="row row-cols-1 row-cols-md-3 g-4 w-100">
        <div class="col">
            <div class="card" style="background-color: #8EA7C4"  type="button">
                <div class="card-body">
                    <a class="d-flex justify-content-center text-dark mt-5 mb-5 h5" style="text-decoration:none" asp-area="" asp-controller="Home" asp-action="Barraca">Barraca da Dona Acácia</a>
                    <p class="card-text">Roupa</p>
                    <p class="card-text"><i class="bi bi-emoji-smile"></i> <i class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i> <i class="bi bi-star"></i></p>
                </div>
            </div>
        </div>
    </div>
</div>