@model PeopleMarket.Models.Produto

<div class="container">

    <div class="col-md-3 float-md-end rounded-3 p-4 w-25" style="background-color: #8EA7C4">
        <p class="miriam fs-2 d-flex">23.47 €</p>
        <button type="button" class="btn btn-primary"><i class="bi bi-cart3"></i>Adicionar Produto</button>
    </div>
    
    <span  class="miriam fs-2">Casaco de camurça masculino</span>
    <figure class="figure d-flex justify-content-center">
        <img src="~/Images/casaco.png" class="figure-img img-fluid rounded-3 w-25">
    </figure>

    <div  class="w-75 rounded" style="background-color: #8EA7C4">
        <span class="ms-3 miriam fs-2 d-flex justify-content-start">Descrição do Produto:</span>
        <div class="ms-5">
            <p> Com a aliança da camurça suave, este blazer será o principal da sua toilette de inverno. </p>
            <p> - Casaco de camurça suave </p>
            <p> - Interior forrado a malha sherpa </p>
            <p> - Abertura com 3 botões grandes de fantasia </p>
            <p> - 2 bolsos com encaixe na anca à frente, 1 no peito à frente </p>
            <p> - Forro acetinado </p>
            <p> - Comprimento atrás: cerca de 94 cm </p>
        </div>
    </div>
</div>