<footer class="fixed-bottom footer">
    <div class="d-flex justify-content-center major whitecolor align-content-center">
        People's Market
    </div>
    <div class="d-flex justify-content-center align-content-center">
        <div class="w-a d-flex justify-content-center"><a class="link-light" style="text-decoration:none" asp-controller="Home" asp-action="Contactos">Contactos</a></div>
        <div class="w-a d-flex justify-content-center mx-5"><a class="link-light" style="text-decoration:none" asp-controller="Home" asp-action="Termos">Termos</a></div>
        <div class="w-a d-flex justify-content-center"><a class="link-light" style="text-decoration:none" asp-controller="Home" asp-action="Privacy">Política de Privacidade</a></div>
    </div>
</footer>