@model RegisterFeiranteViewModel

<div class="container-register">
    <div class="d-flex w-70">
        <div  class="col-md painelesq d-flex justify-content-center align-items-center flex-column">
            <span  class="fs-1 logo major">People’s</span>
            <span  class="fs-1 logo major">Market</span>
        </div>
        <div  class="col-md paineldir">
            <span  class="miriam fs-1 cinza d-flex justify-content-center p-3">Registar Feirante</span>
            <form class="sign-in-form" asp-controller="Auth" asp-action="RegisterFeirante" method="post">
                <div class="form-group p-1">
                    <input class="form-control rounded-pill" placeholder="Nome de utilizador" asp-for="Username" required=True />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div class="form-group p-1">
                    <input class="form-control rounded-pill" placeholder="E-mail" asp-for="Email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group p-1">
                    <input class="form-control rounded-pill" placeholder="Palavra-passe" asp-for="Password" required=True/>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group p-1">
                    <input class="form-control rounded-pill" placeholder="Confirmar Palavra-passe" asp-for="ConfirmPassword" required=True/>
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group p-1">
                    <input class="form-control rounded-pill" placeholder="Nº de telemóvel" asp-for="PhoneNumber" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group p-1">
                    <input class="form-control rounded-pill" placeholder="Primeiro e Último Nome" asp-for="NomeCompleto" required=True/>
                    <span asp-validation-for="NomeCompleto" class="text-danger"></span>
                </div>
                <div class="form-group p-1">
                    <input class="form-control rounded-pill" placeholder="Morada" asp-for="Morada" />
                    <span asp-validation-for="Morada" class="text-danger"></span>
                </div>
                <div class="form-group p-1">
                    <input class="form-control rounded-pill" placeholder="Nº Cartão de Cidadão" /> @*asp-for="Nº Cartão de Cidadão" />*@
                    @* <span asp-validation-for="NCC" class="text-danger"></span> *@
                </div>
                <div class="form-group p-1">
                    <input class="form-control rounded-pill" placeholder="NIF"/> @*asp-for="NIF" />*@
                    @* <span asp-validation-for="NIF" class="text-danger"></span> *@
                </div>
                <div class="form-group p-1 d-flex justify-content-evenly flex-row align-items-center p-3">
                    <div class="d-flex align-items-center"><button type="submit" value="Sign up" class="btn btn-primary">Sign up</div>
                    <a  class="d-flex justify-content-center" style="text-decoration:none" asp-controller="Auth" asp-action="Login">Voltar</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
